.clean {
    clear: both;
}



/*box-layout styles*/

.box-layout {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    margin: 5px;
}

.box-title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    color: #73879C;
    margin: 0 0 8px 0;
}

.box-title h2{
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    float: left;
    line-height:25pt;
}
.panel_toolbox>li {
    float: left;
    cursor: pointer;
}
/*Footer styles*/

.footer-background {
    min-height: 160px;
    background: #e7e7e7;
}

.footer-background ul li a:hover {
    background: none;
}

.footer-background .bottom-nav {
    margin: 20px 0;
}
.copyright{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    top: 125px;
    padding: 5px;
}