// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/*Footer styles*/

.footer-background {
    min-height: 160px;
    background: #e7e7e7;
}

.footer-background ul li a:hover {
    background: none;
}

.footer-background .bottom-nav {
    margin: 20px 0;
}
.copyright{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    top: 125px;
    padding: 5px;
}