// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/*Footer styles*/

.copyright {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    padding: 15px;
}