<div class="chart-block" ng-controller="MonthlyChartController" class="box-layout">
  <h4 class="pull-left">Monthly Chart</h4>

  <div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{selectedYear.name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="year in years">
        <a ng-click="yearSelect(year)">{{year.name}}</a> 
      </li>
    </ul>
  </div>

  <canvas id="monthly" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colours"> </canvas>

</div>