@charset 'UTF-8';
// 1. Configuration and helpers
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
// 2. Vendors
// 3. Base stuff
@import 'base/base',
'base/typography';
// 4. Layout-related sections
@import 'layout/header',
'layout/body',
'layout/sidebar',
'layout/footer';
// 5. Components
@import 'components/button';
// 6. Page-specific styles
@import 'pages/home';
// 7. Themes